<div class="container">
<div class="container__header">
  <span class="container__header__live">almost available</span>
  <span class="container__header__time" >{{timenow.toString()}}</span></div>

<mat-spinner class="container__spinner" *ngIf="showSpinner" diameter="20"></mat-spinner>

<div *ngIf="!showSpinner" class="container__body">
<ng-container [ngTemplateOutlet]="showNoDataMessage? withNoData : withData">

  <ng-template #withData>
    <div class="container__body__content">
      <div class="container__body__content__image">
      <img [src]="this.latestImageResponse?.ImageUrl"/>
      </div>


      <div>
        <span class="container__body__content__text-content__title">Description : </span>
      <span class="container__body__content__text-content__text-description">{{this.latestImageResponse?.Description}}</span>
      </div>

      <div>
        <span class="container__body__content__text-content__title">Created On : </span>
      <span class="container__body__content__text-content_text-created-time">{{this.latestImageResponse?.CreatedDateTime?.toString()}}</span>
      </div>


      <div>
        <span class="container__body__content__text-content__title">Images created in last hour : </span>
      <span class="container__body__content__text-content__text-count">{{this.latestImageResponse?.TotalInLastHr}}</span>
      </div>
    </div>

</ng-template>

<ng-template #withNoData>
  <div class="container__body__content"><span>{{this.noDataInStore}}</span></div>
</ng-template>

</ng-container>
</div>
</div>
